name: Publish package

on:
  release:
    types: ["created"]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: "npm"
      - name: Install npm dependencies
        run: npm install
      - name: Set version from a tag
        run: npm version --no-git-tag-version ${{ github.event.release.tag_name }}
      - name: Release
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
        run: npm run publish
